<div class="flex flex-col lg:flex-row p-4 gap-4">
  <div class="lg:w-1/3">
    <% if @recipe.photo.attached? %>
      <%= image_tag @recipe.photo.variant(resize_to_limit: [600, 600]), class: "rounded" %>
    <% end %>
    <div class="mt-4">
      <h3 class="font-bold mb-2">材料</h3>
      <div class="whitespace-pre-wrap bg-gray-50 p-2 rounded border"><%= @recipe.ingredients %></div>
    </div>
  </div>
  
  <div class="lg:w-2/3">
    <h3 class="font-bold mb-2">作り方</h3>
    <div class="whitespace-pre-wrap bg-gray-50 p-2 rounded border"><%= @recipe.instructions %></div>
  </div>
</div>