<h1 class="text-3xl font-bold text-center text-orange-700 mb-8
           bg-orange-50 px-6 py-3 rounded-xl shadow-md tracking-wide font-sans">
  新しい家族を作成
</h1>

<div class="bg-[#fffaf3] p-6 rounded-lg shadow mb-10 max-w-md mx-auto">
  <%= form_with model: @family, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :name, "家族名", class: "block text-[#6e5e57] mb-1" %>
      <%= f.text_field :name, class: "block w-full border border-gray-300 rounded-md shadow-sm p-2" %>
    </div>

    <%= f.submit "家族を作成する", class: "bg-[#d16a50] hover:bg-[#b8553f] text-white font-semibold py-2 px-4 rounded transition w-full" %>
  <% end %>
</div>